{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <h2 class="text-warning fw-bold text-center mb-4">Edit Customer Profile</h2>

  <form method="post" enctype="multipart/form-data" class="col-md-6 mx-auto">
    {% csrf_token %}
    
    <div class="mb-3">
      <label class="form-label">Full Name</label>
      <input type="text" name="full_name" class="form-control" value="{{ customer.user.full_name }}" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Phone Number</label>
      <input type="text" name="phone" class="form-control" value="{{ customer.user.phone_number }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Address</label>
      <textarea name="address" class="form-control" rows="3">{{ customer.address }}</textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Profile Picture</label><br>
      {% if customer.profile_picture %}
        <img src="{{ customer.profile_picture.url }}" alt="Current Pic" class="rounded-circle mb-2" style="max-height: 80px;">
      {% endif %}
      <input type="file" name="profile_picture" class="form-control">
    </div>

    <button type="submit" class="btn btn-warning w-100">Save Changes</button>
  </form>
</div>
{% endblock %}
