{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Login to Your Account</h2>

  {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}

  <form method="post" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username or Email" class="form-control mb-3" required>
    <input type="password" name="password" placeholder="Password" class="form-control mb-3" required>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" id="rememberMe" name="remember_me">
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
      <button type="submit" class="btn btn-success w-100">Login</button>

  </form>
</div>
{% endblock %}