{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="text-warning">Welcome, {{ username }}!</h1>
    <p class="lead">You are logged in as a <strong>{{ role|capfirst }}</strong>.</p>
    <p>Redirecting you shortly...</p>

    <div class="spinner-wrapper mt-4">
        <div class="loading-spinner"></div>
    </div>
</div>
<script>
    const redirectUrl = "{{ redirect_url }}";
</script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}